[submodule "backend"]
	path = backend
	url = https://github.com/WebArtistryBAID/studythere-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/WebArtistryBAID/studythere-frontend.git
